html {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
}

.container {
	display: flex;
	max-width: 15vw;
	height: 35rem;
	align-items: center;
	gap: 5px;
	flex-direction: column;
}

.container span {
	border: 1px solid black;
	padding: 5px;
	width: 40px;
	text-align: center;
}

#S {
	order: 0;
}
#e {
	order: 1;
}

#m {
	order: 2;
}
#a {
	order: 3;
}
#n {
	order: 4;
}
#t {
	order: 5;
}
#i {
	order: 6;
}
#c {
	order: 7;
}
#H {
	order: 8;
}
#T {
	order: 9;
}
#M {
	order: 10;
}
#L {
	order: 11;
}
