@media screen and (max-width: 600px) {
	nav {
		display: none;
	}

	.hero-head .wrapper {
		width: 100%;
		padding: 32px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.hero-head .wrapper h1,
	.hero-head .wrapper .goal {
		float: none;
	}

	.hero-head .wrapper h1 {
		font-size: 36px;
		line-height: 2;
		margin: 0 0 40px;
	}

	.hero-head .wrapper .goal {
		max-width: unset;
	}
    .wrapper {
        width: unset;
    }

	.content {
		float: none;
		width: 100%;
	}

	.content-wrap {
		flex-direction: column;
		text-align: center;
	}

    .main-foot {
        float: none;
        text-align: center;
    }

    .main-foot .bottom .copyright {
        float: none;
    }

    .content-wrap h3 {
        font-size: 32px;
    }

    .sponsors h3 {
        font-size: 32px;
    }
}
