body {
   background-color: rgb(238, 238, 238);
   padding: 20px 40px;
}

.card {
    background-color: white;
    width: 20%;
    border-radius: 4px;
}

img {
    width: 100%;
}

footer{
    border-top: 1px solid grey;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.masonry .card {
    display: inline-block;
    vertical-align: top;
}