header {
	padding: 10px;
	box-shadow: 1px 1px 10px grey;
	background-color: white;
}

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav {
	display: flex;
	gap: 10px;
}

header nav ul {
	display: flex;
	gap: 10px;
}

header a {
	text-decoration: none;
	color: black;
	font-size: 12px;
	font-weight: 600;
}

.login {
	background-color: rgb(155, 93, 198);
	padding: 4px 15px;
	color: white;
	border-radius: 10px;
}
