@import "https://use.fontawesome.com/releases/v6.1.1/css/all.css";

@import url("./components.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./header.css");

.wrapper {
	width: 90%;
	margin: auto;
}

.italic {
	font-style: italic;
	font-size: 10px;
}

.main-paragraph {
	font-weight: 500;
	margin: 1rem 0;
}

.container {
	margin: 3rem 0;
}

.diplomas {
	display: flex;
	gap: 2rem;
	position: relative;
}

.circle-background {
	background-color: rgb(84, 84, 110);
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	z-index: -1;
	top: -250px;
	right: -10vw;
}

.circle-background i {
	color: rgb(97, 97, 121);
	font-size: 150px;
	position: relative;
	left: 55%;
	top: 55%;
}

.certificates {
	background-color: rgb(20, 22, 43);
	display: flex;
	gap: 3rem;
	align-items: center;
}

section {
	padding: 2rem 3rem;
}

.certificates {
	color: white;
	position: relative;
}

.certificates-img img {
	position: relative;
	top: 70px;
}

.carreer {
	display: flex;
	gap: 3rem;
	align-items: center;
}

.carreer-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.email-btn {
	color: rgb(155, 93, 198);
	text-decoration: none;
	margin: 1rem;
	border: 1px solid rgb(155, 93, 198);
	border-radius: 15px;
	width: 200px;
	text-align: center;
	padding: 5px 10px;
	font-weight: 700;
}


