@import "https://use.fontawesome.com/releases/v6.1.1/css/all.css";

@import url("./components.css");
@import url("./reset.css");
@import url("./typography.css");
@import url("./header.css");

.wrapper {
	width: 90%;
	margin: auto;
}

.italic {
	font-style: italic;
	font-size: 10px;
}

.main-paragraph {
	font-weight: 500;
	margin: 1rem 0;
}

.container {
	margin: 3rem 0;
}

.diplomas {
	display: flex;
	gap: 2rem;
	position: relative;
}

.circle-background {
	background-color: rgb(84, 84, 110);
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	z-index: -1;
	top: -250px;
	right: -10vw;
}

.circle-background i {
	color: rgb(97, 97, 121);
    font-size: 150px;
    position: relative;
    left: 55%;
    top: 55%;
}
